*{
    margin: 0;
    padding: 0;
}

.contact-images {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: center;
}

.contact-images img {
    width: 70%;
}